
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fcfdfc;
}

.topnav a {
  float: left;
  display: block;
  color: #0b0b0b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: rgb(14, 13, 13);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.text-center p-4 border-top{
 a{
    list-style: none;
    display: none;
 }
}

/*.tentang
{
  padding: 10px;
  margin-top: 27em;
}*/

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 15px;
  margin: 0 10px;
}
